.select-dropdown {
  min-width: 150px;
  width: 100%;
  border-radius: 6px;
  padding: 12px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #33373d;
  cursor: pointer;
}

.select-dropdown__header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.select-dropdown__list {
  position: absolute;
  z-index: 999;
  top: 44px;

  width: 100%;
  max-height: 300px;
  overflow-y: scroll;

  list-style-type: none;
}

.select-dropdown__list__item {
  background-color: #33373d;
  border: 1px solid black;

  padding: 12px;
}

.select-dropdown__list__item input {
  margin-right: 4px;
}
