body {
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  background-color: rgb(20, 20, 20);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide the default scrollbar */
*::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar */
}

/* Track */
*::-webkit-scrollbar-track {
  background: #33373d; /* Background of the track */
  border-radius: 10px; /* Rounded corners for the track */
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: black; /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounded corners for the handle */
}
